body {
  background-image: url("../img/page-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.header > * {
  align-self: center;
}

.header {
  background: transparent;
  padding: 3vw;
  display: flex;
  height: 3vw;
  position: fixed;
  width: calc(100% - 6vw);
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 0 2vw 0 2vw;
  text-decoration: none;
  font-size: 1.7vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header img {
  height: 3vw;
  width: auto;
}

.header img:last-child {
  height: 1.8vw;
  width: auto;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right > img {
  height: 3vw;
  /* height: calc(2em + 2vw); */
  width: auto;
}

.header-center {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  max-width: 600px;
  margin: auto;
}

.footer {
  background: transparent;
  padding: 2vw;
  display: flex;
  height: 3vw;
  overflow: hidden;
  position: fixed;
  width: calc(100% - 6vw);
  bottom: 0;
}

.footer a,
.copyright {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  /* font-size: calc(0.75em + 1vw); */
  font-size: 1vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-center {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.input-container > input {
  border-color: lightgrey;
  display: flex;
  flex-grow: 1;
  color: lightgrey;
  background: transparent;
  float: left;
  text-align: left;
  padding: 1.3vw;
  font-size: 1.3vw;
  border-bottom: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.input-container > input:first-child {
  border-radius: 0.5vw 0.5vw 0 0;
}

.input-container > input::placeholder {
  color: lightgrey;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

.signupforfree {
  width: 100%;
  color: white;
  text-align: center;
  padding: 0.5em;
  font-size: 1.25vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 1.2em;
}

.signup-button {
  padding: 0;
  height: 4vw;
  border-color: skyblue;
  font-size: 1.3vw;
  color: white;
  border-top: none;
  border-radius: 0 0 0.5vw 0.5vw;
  margin-bottom: 1.2em;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.signupform {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: right;
  align-items: stretch;
  width: 80%;
}

.simplewaytoorgani {
  width: 80%;
  text-align: left;
  font-weight: 600;
  float: left;
  color: white;
  padding: 2vw;
  font-size: 5vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ithinkwhatmotivat {
  width: 80%;
  float: left;
  color: white;
  text-align: left;
  padding: 1em;
  font-size: 1.8vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.byclickingsignup {
  color: gray;
  font-size: 1.3vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.termsofservice {
  color: white;
  font-size: 1.3vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  .main-content {
    flex-direction: column;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .header {
    width: calc(100% - 8vw);
    padding: 4vw;
    height: 4vw;
  }

  .header a {
    padding: 0 2vw 0 2vw;
    font-size: 2.5vw;
  }

  .header img {
    height: 5vw;
  }

  .header img:last-child {
    height: 3.3vw;
  }

  .header-right > img {
    height: 4vw;
  }

  .footer {
    padding: 2vw;
    height: 4vw;
    width: calc(100% - 4vw);
  }

  .footer a,
  .copyright {
    padding: 12px;
    font-size: 2vw;
  }

  .input-container > input {
    padding: 2vw;
    font-size: 5vw;
  }

  .input-container > input:first-child {
    border-radius: 1vw 1vw 0 0;
  }

  .signupforfree {
    padding: 0.5em;
    font-size: 1.5vw;
    margin-bottom: 1.2em;
  }

  .signup-button {
    height: 10vw;
    font-size: 4vw;
    border-radius: 0 0 1vw 1vw;
    margin-bottom: 2em;
  }

  .simplewaytoorgani {
    padding: 3vw;
    font-size: 8vw;
    text-align: left;
    /* width: 100%; */
  }

  .ithinkwhatmotivat {
    padding: 0.5em;
    font-size: 2vw;
    /* text-align: center; */
    /* width: 100%; */
  }

  .byclickingsignup {
    width: 100%;
    font-size: 2vw;
    text-align: center;
  }

  .termsofservice {
    text-align: center;
    width: 100%;
    font-size: 2vw;
  }
}
